 * {
     box-sizing: border-box;
 }

 .title {
     text-align: center;
     color: rgb(66, 66, 70);
 }

 body {
     background-color: rgb(253, 236, 227);
     text-align: center;
     font-family: 'Raleway', sans-serif;
 }

 .intro {
     margin: 40px;
     padding: 5px;
 }

 .toplist li a {
     text-decoration: none;
     color: rgb(19, 16, 16);
     text-transform: uppercase;
 }

 a:hover {
     background-color: rgb(217, 255, 0);
     font-size: large;
     padding: 5px;
 }

 .toplist li {
     background-color: rgb(248, 248, 245);
     display: block;
     padding: 10px;
     margin: 10px;
     margin-right: 38px;
 }

 .profilepic {
     margin-top: 50px;
     width: 65%;
 }

 p {
     text-align: center;
     font-size: large;
 }

 h2, h1 {
     text-align: center;
 }

 .section {
     margin-top: 50px;
 }

 #lantitle {
     text-transform: uppercase;
 }

 .lan1, ul, li {
     margin: 10px;
 }

 .a {
     color: rgb(240, 49, 49);
 }

 .b {
     color: purple;
 }

 .c {
     color: greenyellow;
 }

 .d {
     color: rgb(23, 158, 199)
 }

 .a, .b, .c, .d {
     font-style: oblique;
     background-color: black;
     padding: 20px;
 }

 .lan1 {
     display: block;
     align-content: space-between;
     margin-bottom: 100px;
     padding: 1px;
     list-style-type: none;
     text-transform: uppercase;
     text-align: center;
     background-color: burlywood;
     font-size: x-large;
 }

 .contact {
     margin-top: 150px;
     background-color: rgb(226, 226, 217);
     padding: 1px;
 }

 .phone {
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .footname {
     display: flex;
     justify-content: space-between;
     list-style-type: none;
     padding: 25px;
 }

 .footer {
     display: none;
 }

 img {
     width: 100%;
 }

 @media (min-width: 768px) {
     .toplist, a {
         background-color: rgb(253, 236, 227);
         display: inline-flex;
     }
     .intro {
         display: flex;
         margin: 80px;
         word-spacing: 5px;
         letter-spacing: 2px;
     }
     .profilepic {
         display: flex;
         float: right;
         width: 35%;
     }
     .flex {
         display: flex;
         flex-wrap: wrap;
         margin: 5px;
         padding: 5px
     }
     #lantitle {
         margin-top: 100px;
         ;
     }
     .lan1 {
         margin-top: 50px;
     }
     .a, .b, .c, .d {
         font-style: normal;
         font-size: larger;
         margin: 15px;
         background-color: black;
         padding: 30px;
     }
     .contact, p {
         margin: 30px;
     }
     .templates {
         width: 50%;
         padding: 20px;
         align-content: space-between;
         margin-bottom: 20px;
     }
     #back1 {
         display: none;
     }
     .footer {
         float: right;
         display: flex;
         align-items: flex-end;
         list-style-type: none;
         padding: 10px;
     }
 }

 @media (min-width: 1024px) {
     .templates {
         width: 33%;
     }
     a:hover {
         color: mediumvioletred;
         background: rgb(15, 14, 14);
         font-size: 15px;
         border-radius: 50%;
         font-style: oblique;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
     .toplist li a {
         color: rgb(241, 84, 11);
         background-color: rgb(10, 10, 24);
         border-radius: 50%;
         border-color: rgb(243, 50, 227);
     }
     .toplist a:hover {
         color: chartreuse;
         font-size: 20px;
         border-radius: 50%;
         border-style: groove;
         border-color: rgb(112, 238, 238);
     }
     .toplist li {
         border-radius: 50%;
         background-color: rgb(15, 14, 14);
     }
     .titlelist {
         background-color: rgb(248, 198, 151);
     }
     .title {
         float: left;
         margin-left: 35px;
     }
     .toplist {
         margin-left: 250px;
         background-color: rgb(248, 198, 151);
         font-size: 13px;
     }
     .lan {
         margin-top: 180px;
     }
     .clearfix {
         display: flex;
         margin-right: 350px;
         margin-top: 100px;
         text-indent: 5%;
     }
     .profilepic {
         margin-right: 50px;
         margin-top: 150px;
         width: 33%;
     }
     footer a {
         text-decoration: none;
     }
     .footer a:hover {
         color: rgb(217, 255, 0);
         font-size: 18px;
     }
 }